$black: #303030;
$darkgray: #535353;
$width: 800px;
$yellow: #ffc40e;
$mint: #a1ffce;
$blue: #12fff7;
$lightgray: lighten(gray, 40%);
$shad: 0 0 10px rgba(0, 0, 0, 0.1), 0 5px 10px rgba(0, 0, 0, 0.05);
$grad: linear-gradient(90deg, #feac5e, #c779d0, #4bc0c8);
$verticalGrad: linear-gradient(0, #feac5e 0%, #c779d0 50%, #4bc0c8 100%);
