.footerContainer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  background: white; }
  .footerContainer p {
    font-size: 0.8rem; }
